<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videomanager.aish123.Aish123Mapper">

    <sql id="aish123Columns">
        a.tid,
        a.fid,
        a.title,
        a.url,
        a.type_name AS typeName,
        a.is_sticky AS isSticky,
        a.is_digest AS isDigest,
        a.is_locked AS isLocked,
        a.has_attachment AS hasAttachment,
        a.has_image AS hasImage,
        a.price,
        a.author_uid AS authorUid,
        a.author_name AS authorName,
        a.author_url AS authorUrl,
        a.created_at AS createdAt,
        a.reply_count AS replyCount,
        a.view_count AS viewCount,
        a.last_reply_uid AS lastReplyUid,
        a.last_reply_name AS lastReplyName,
        a.last_reply_at AS lastReplyAt,
        a.rating,
        a.page_index AS pageIndex,
        a.raw_row_html AS rawRowHtml,
        a.first_seen_at AS firstSeenAt,
        a.updated_at AS updatedAt
    </sql>

    <sql id="aish123Where">
        <where>
            <if test="fid != null">
                AND a.fid = #{fid}
            </if>
            <choose>
                <when test="typeNameNone">
                    AND (a.type_name IS NULL OR TRIM(COALESCE(a.type_name, '')) = '')
                </when>
                <when test="typeName != null and typeName != ''">
                    AND a.type_name = #{typeName}
                </when>
            </choose>
            <if test="search != null and search != ''">
                AND (a.title LIKE #{search} OR a.author_name LIKE #{search} OR a.last_reply_name LIKE #{search})
            </if>
        </where>
    </sql>

    <select id="selectPage" resultType="java.util.HashMap">
        SELECT
        <include refid="aish123Columns"/>
        FROM `aish123` a
        <include refid="aish123Where"/>
        ${orderBySql}
        LIMIT #{skip}, #{take}
    </select>

    <select id="countPage" resultType="long">
        SELECT COUNT(*)
        FROM `aish123` a
        <include refid="aish123Where"/>
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*) FROM `aish123`
    </select>

    <select id="selectCountByTypeName" resultType="java.util.HashMap">
        SELECT a.type_name AS typeName, COUNT(*) AS cnt
        FROM `aish123` a
        GROUP BY a.type_name
        ORDER BY cnt DESC, a.type_name ASC
    </select>

    <select id="selectByTid" resultType="java.util.HashMap">
        SELECT
        <include refid="aish123Columns"/>
        FROM `aish123` a
        WHERE a.tid = #{tid}
    </select>
</mapper>
